name: portfolio_website
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  animated_text_kit: ^4.3.0
  flutter:
    sdk: flutter
  google_fonts: ^8.0.0
  font_awesome_flutter : ^10.4.0
  url_launcher: ^6.1.10

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
